[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[help]
    format = html
[log]
    date = local
[core]
    excludesfile = ~/.gitignore_global
    whitespace = cr-at-eol
    quotepath = false
    editor = /usr/local/Cellar/vim/8.1.1800
    attributesfile = ~/.gitattributes
[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8
[gui]
    encoding = utf-8
[push]
    default = current
[grep]
    lineNumber = true
[diff "exif"]
    textconv = exiftool
[diff "plist"]
    textconv = plutil -convert xml1 -o -
[user]
	email = throughskybrim@gmail.com
	name = skybrim
	signingkey = 4CD21439715D0A54A595F3A8CFDE0C24A7F2CCEB
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
