[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[help]
    format = html
[log]
    date = local
[core]
    excludesfile = ~/.gitignore_global
    whitespace = cr-at-eol
    quotepath = false
    editor = /usr/local/Cellar/vim/8.1.1800
    attributesfile = ~/.gitattributes
[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8
[gui]
    encoding = utf-8
[push]
    default = current
[grep]
    lineNumber = true
[diff "exif"]
    textconv = exiftool
[diff "plist"]
    textconv = plutil -convert xml1 -o -
[user]
	email = throughskybrim@gmail.com
	name = skybrim
[commit]
	gpgsign = true
